{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="speakers content row padding-bottom-3 desktop-8 container">
        <h2>
            <a href="{{ speaker_detail.website }}"> {{ speaker_detail.name }} </a>
        </h2>
        <img class="photo" src="{{ speaker_detail.photo }}">
        <p>
            {{ speaker_detail.description|linebreaks }} <!--Filtro 'linebreaks' serve para inserir quebra de linha no texto-->
        </p>
    </div>

</section>

{% endblock content %}