{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="talks content row padding-bottom-3 desktop-12 container">
        <h2>Manhã</h2>
        {% for talk in morning_talks %}
        <h3>{{ talk.start|time:"H:i" }} - {{ talk.title }}</h3>
        <h4>Por 
            {% for speaker in talk.speakers.all %}
            <a href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a></h4>
            {% endfor %}
        <p>{{ talk.description }}</p>
        {% empty %}<!-- O empty serve como o 'senão' do 'for', caso o 'for' não retorne nada   !-->
        <div class="alert worning">
            <strong><p> Ainda não existe palestras na parte da manhã! </p></strong>
        </div> 
        {% endfor %}
        
        <h2>Tarde</h2>
        {% for talk in afternoon_talks %}
        <h3>{{ talk.start|time:"H:i" }} - {{ talk.title }}</h3>
        <h4>Por 
            {% for speaker in talk.speakers.all %} <!-- Pega todos os speakers da relação many to mane da classe talk. talk.speakers.all-->
            <a href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a></h4>
            {% endfor %}
        <p>{{ talk.description }}</p>
        {% empty %}<!-- O empty serve como o 'senão' do 'for', caso o 'for' não retorne nada   !-->
        <div class="alert worning">
            <strong><p> Ainda não existe palestras na parte da tarde! </p></strong>
        </div>     
        {% endfor %}
    </div>
</section>
{% endblock content %}