{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- OVERVIEW -->
<section>
	<div class="content row padding-bottom-3 desktop-12 container">
        <h1>Obrigado por se inscrever!</h1>
        <div class="desktop-6">
            <p>Esses são os dados que você nos forneceu em sua inscrição:</p>
            <ul>
               <li><strong>Nome:</strong> {{ subscription_detail.name}}</li>
                <li><strong>CPF:</strong> {{ subscription_detail.cpf}}</li>
                <li><strong>E-mail:</strong> {{ subscription_detail.email}}</li>
                <li><strong>Telefone:</strong> {{ subscription_detail.phone}}</li>
            </ul>
            <p>Em 48 horas úteis, nossa equipe entrará em contato
            com você para concluirmos sua matrícula.</p>
        </div>
    </div>
</section>
{% endblock content %}