{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Mascara javascript para campo cpf: -->
<!-- Pegando o script que está no 'base.html": jquery.mask.min.js -->
<!-- query.mask.min.js: este arquivo coloquei na pasta core/static/js -->
 
<section>
    <script type="text/javascript">   
    $(document).ready(function(){
        $("#{{ form.cpf.id_for_label }}").mask("000.000.000-00")
        $("#{{ form.phone.id_for_label }}").mask("(99)99999-9999")        
    })
    </script>
    	
	<div class="content row padding-bottom-3 desktop-12 container">
        <h1>Formulário de Inscrição</h1>
        <div class="desktop-6">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert success"><p>{{ message }}</p></div>
                {% endfor %}
            {% endif %}
            <form action="." novalidate method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}<!-- Se não preencher o campo e-mail e telefone retorna erro definido no form.py da app subscription -->
                <div class="form-row label-block input-text">
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    {{ form.name.errors }}
                    {{ form.name }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
                    {{ form.cpf.errors }}
                    {{ form.cpf }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                    {{ form.phone.errors }}
                    {{ form.phone }}
                </div>
                <p class="btn-row"><input type="submit" value="Enviar!"/></p>
            </form>
        </div>
    </div>
</section>
{% endblock content %}