{% extends 'base.html' %}
{% load static %}
{% block title %} 403. Proibido {% endblock title %}

{% block content %}
<section>
	<div class="content row padding-bottom-3 desktop-12 container">

    	<h1>403</h1>
        <h2>Proibido</h2>
        <div class="desktop-6">
            <p>Você não tem permissão para acessar este endereço.</p>
        </div>
    </div>
</section>
{% endblock content %}